# **üì• Setup & Configuration**

In [19]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\vaibh\anaconda3\lib\site-packages (9.5.0)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

# **üîÑ Data Ingestion**

In [21]:
import mysql.connector 
import pandas as pd

# Connect to server
cnx = mysql.connector.connect(
    host="127.0.0.1",
    port=3306,
    user="root",
    password="Vkha@930")

# **üîç Data Profiling / Initial Inspection**

In [22]:
query = "SELECT * FROM sales_analysis.sales_data"

In [23]:
df = pd.read_sql(query, cnx)

C:\Users\vaibh\AppData\Local\Temp\ipykernel_30296\1600954950.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, cnx)

In [24]:
cnx.close()

In [25]:
df.head(5)

,order_number,order_date,customer_name,channel,product_name,quantity,unit_price,revenue,cost,state,...,us_region,lat,lon,budget,total_cost,profit,profit_margin_pct,order_month_name,order_month_num,order_month
0,SO - 000225,2014-01-01,Rhynoodle Ltd,Wholesale,Product 27,6,2499.1,14994.6,1824.343,GA,...,South,32.08354,-81.09983,,10946.058,4048.542,27.0,January,1,2014-01
1,SO - 0003378,2014-01-01,Thoughtmix Ltd,Distributor,Product 20,11,2351.7,25868.7,1269.918,IN,...,Midwest,39.61366,-86.10665,,13969.098,11899.602,46.0,January,1,2014-01
2,SO - 0005126,2014-01-01,Amerisourc Corp,Wholesale,Product 26,6,978.2,5869.2,684.740,CA,...,West,37.66243,-121.87468,,4108.440,1760.760,30.0,January,1,2014-01
3,SO - 0005614,2014-01-01,Colgate-Pa Group,Export,Product 7,7,2338.3,16368.1,1028.852,IN,...,Midwest,39.16533,-86.52639,,7201.964,9166.136,56.0,January,1,2014-01
4,SO - 0005781,2014-01-01,Deseret Group,Wholesale,Product 8,8,2291.4,18331.2,1260.270,CT,...,Northeast,41.77524,-72.52443,,10082.160,8249.040,45.0,January,1,2014-01

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64104 entries, 0 to 64103
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   order_number       64104 non-null  object
 1   order_date         64104 non-null  object
 2   customer_name      64104 non-null  object
 3   channel            64104 non-null  object
 4   product_name       64104 non-null  object
 5   quantity           64104 non-null  int64
 6   unit_price         64104 non-null  float64
 7   revenue            64104 non-null  float64
 8   cost               64104 non-null  float64
 9   state              64104 non-null  object
 10  state_name         64104 non-null  object
 11  us_region          64104 non-null  object
 12  lat                64104 non-null  float64
 13  lon                64104 non-null  float64
 14  budget             64104 non-null  object
 15  total_cost         64104 non-null  float64
 16  profit             64104 non-null  float64
 17  profit_margin_pct  64104 non-null  float64
 18  order_month_name   64104 non-null  object
 19  order_month_num    64104 non-null  int64
 20  order_month        64104 non-null  object
dtypes: float64(8), int64(2), object(11)
memory usage: 10.3+ MB

In [27]:
df.isnull().sum()

order_number         0
order_date           0
customer_name        0
channel              0
product_name         0
quantity             0
unit_price           0
revenue              0
cost                 0
state                0
state_name           0
us_region            0
lat                  0
lon                  0
budget               0
total_cost           0
profit               0
profit_margin_pct    0
order_month_name     0
order_month_num      0
order_month          0
dtype: int64

In [28]:
df.describe()

,quantity,unit_price,revenue,cost,lat,lon,total_cost,profit,profit_margin_pct,order_month_num
count,64104.000000,64104.000000,64104.000000,64104.000000,64104.000000,64104.000000,64104.000000,64104.000000,64104.000000,64104.000000
mean,8.441689,2284.380803,19280.682937,1432.083899,37.769427,-94.247116,12077.192361,7203.490577,37.359416,6.345251
std,2.276217,1663.598141,15429.602766,1107.705728,5.068599,16.884334,10180.428965,6626.122492,13.238648,3.524312
min,5.000000,167.500000,837.500000,68.675000,25.468720,-123.262040,351.750000,125.625000,15.000000,1.000000
25%,6.000000,1031.800000,8019.900000,606.216000,33.953330,-112.034140,4793.850000,2542.549500,26.000000,3.000000
50%,8.000000,1855.900000,14023.100000,1084.495500,39.114170,-88.200900,8789.562500,5091.464000,37.000000,6.000000
75%,10.000000,3606.275000,27416.400000,2046.933750,41.676550,-80.407000,16816.464000,9922.164000,49.000000,9.000000
max,12.000000,6566.000000,78711.600000,5498.556000,48.759550,-70.255330,65330.628000,45559.464000,60.000000,12.000000

In [29]:
df.shape

(64104, 21)